/*
@font-face {
    font-family: 'FuturaCondensedNormalRegular';
    src: url('../fontes/futura_2-webfont.eot');
    src: url('../fontes/futura_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/futura_2-webfont.woff') format('woff'),
         url('../fontes/futura_2-webfont.ttf') format('truetype'),
         url('../fontes/futura_2-webfont.svg#FuturaCondensedNormalRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'FuturaCondensedLight';
    src: url('../fontes/futuracl-webfont.eot');
    src: url('../fontes/futuracl-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/futuracl-webfont.woff') format('woff'),
         url('../fontes/futuracl-webfont.ttf') format('truetype'),
         url('../fontes/futuracl-webfont.svg#FuturaCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

*{ font-family: tahoma; }