/*	RESET - HTML 5 */ 
* :hover, * :focus{ outline: none; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;outline:0;font-size:100%; font-weight:normal;vertical-align:baseline;background:transparent; outline:none; }nav ul {margin:0;padding:0;list-style:none}blockquote, q {quotes:none}blockquote:before, blockquote:after,q:before, q:after {content:''; content:none}del {text-decoration: line-through}table {border-collapse:collapse; border-spacing:0}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{ display:block; }
textarea, input {background: #fff; }
input[type="text"] { padding: 0; border: 1px solid #333; vertical-align: middle; }
input[type="submit"], input[type="button"]{cursor: hand; outline:none;cursor: pointer}
input[type="checkbox"], input[type="radio"] { border: 0;width: 13px; padding: 0; margin:0; background: none }
select {border: 1px solid #ddd; background: #fff; }
ul, ol{list-style-type: none}
b, strong{ font-weight:bold; }
a{ text-decoration:none; }
table caption{ display:none; }